apiVersion: v1
kind: Service
metadata:
  name: lgtm-proxy
  namespace: monitoring
  annotations:
    # This magic annotation tells the Operator: 
    # "Create a proxy pod that forwards traffic to this Tailscale machine"
    tailscale.com/tailnet-fqdn: "tabletap-monitor.taila459ef.ts.net"
spec:
  type: ClusterIP
  ports:
    - name: loki
      port: 3100
      targetPort: 3100
      protocol: TCP
    - name: mimir
      port: 9009
      targetPort: 9009
      protocol: TCP