services:
  # Table instances for Dine-in
  table-1:
    image: kencfs/tableai:table-1
    pull_policy: always
    expose:
      - "80"
    networks:
      - restaurant-network
  
  table-2:
    image: kencfs/tableai:table-2
    pull_policy: always
    expose:
      - "80"
    networks:
      - restaurant-network
  
  table-3:
    image: kencfs/tableai:table-3
    pull_policy: always
    expose:
      - "80"
    networks:
      - restaurant-network

  table-4:
    image: kencfs/tableai:table-4
    pull_policy: always
    expose:
      - "80"
    networks:
      - restaurant-network

  table-5:
    image: kencfs/tableai:table-5
    pull_policy: always
    expose:
      - "80"
    networks:
      - restaurant-network

  table-6:
    image: kencfs/tableai:table-6
    pull_policy: always
    expose:
      - "80"
    networks:
      - restaurant-network

  table-7:
    image: kencfs/tableai:table-7
    pull_policy: always
    expose:
      - "80"
    networks:
      - restaurant-network

  table-8:
    image: kencfs/tableai:table-8
    pull_policy: always
    expose:
      - "80"
    networks:
      - restaurant-network

  table-9:
    image: kencfs/tableai:table-9
    pull_policy: always
    expose:
      - "80"
    networks:
      - restaurant-network

  table-10:
    image: kencfs/tableai:table-10
    pull_policy: always
    expose:
      - "80"
    networks:
      - restaurant-network

  table-11:
    image: kencfs/tableai:table-11
    pull_policy: always
    expose:
      - "80"
    networks:
      - restaurant-network

  takeout:
    image: kencfs/tableai:takeout
    pull_policy: always
    expose:
      - "80"
    networks:
      - restaurant-network

  nginx-proxy:
    image: nginx:alpine
    ports:
      - "80:80"
      - "443:443"
    volumes:
      - ./nginx-load-balancer.conf:/etc/nginx/nginx.conf:ro
      - ./certbot/conf:/etc/letsencrypt
      - ./certbot/www:/var/www/certbot
      - ./dist:/usr/share/nginx/html/dist:ro
    restart: unless-stopped
    networks:
      - restaurant-network

  certbot:
    image: certbot/certbot
    volumes:
      - ./certbot/conf:/etc/letsencrypt
      - ./certbot/www:/var/www/certbot
    command: sh -c "trap exit TERM; while :; do certbot renew; sleep 12h & wait $${!}; done;"
    networks:
      - restaurant-network

networks:
  restaurant-network:
    driver: bridge