apiVersion: networking.k8s.io/v1
kind: Ingress
metadata:
  name: tabletap-ingress
  annotations:
    kubernetes.io/ingress.class: "traefik"
spec:
  rules:
  # Replace these with your REAL domains when you are ready
  - host: table-1.test.local
    http:
      paths:
      - path: /
        pathType: Prefix
        backend:
          service:
            name: tabletap-service # MUST match the service name above
            port:
              number: 80
  - host: table-2.test.local
    http:
      paths:
      - path: /
        pathType: Prefix
        backend:
          service:
            name: tabletap-service
            port:
              number: 80