apiVersion: helm.cattle.io/v1
kind: HelmChartConfig
metadata:
  name: traefik
  namespace: kube-system
spec:
  valuesContent: |-
    ports:
      websecure:
        port: 443
        expose: true
        exposedPort: 443
        protocol: TCP
      web:
        port: 80
        expose: true
        exposedPort: 80
        protocol: TCP
    
    tolerations:
      - key: CriticalAddonsOnly
        operator: Exists
    
    additionalArguments:
      - "--certificatesresolvers.le-staging.acme.email=kchenfs@gmail.com"
      - "--certificatesresolvers.le-staging.acme.storage=/data/acme.json"
      - "--certificatesresolvers.le-staging.acme.caserver=https://acme-staging-v02.api.letsencrypt.org/directory"
      - "--certificatesresolvers.le-staging.acme.tlschallenge=true"
      - "--entrypoints.websecure.address=:443"
      - "--entrypoints.web.address=:8000"
      - "--entrypoints.web.http.redirections.entrypoint.to=websecure"
      - "--entrypoints.web.http.redirections.entrypoint.scheme=https"